body{
    background: white;
}
.container-wide{
    width:80%;
    margin:0 auto;  
}
.container{
    width:400px;
    margin:0 auto;  
}
.form {
    margin-top: 10%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
h1,h2,h3,h4,h5{
    text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit], input[type=button] {
    background-color: #808080;
    color: white;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover, input[type=button]:hover {
    background-color: white;
    color: #C0C0C0;
    border: 1px solid #808080 inset;
}